# Python virtual environment
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Model and scaler files
model_weights.h5
scaler_*.npy

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
*.swp
.DS_Store

# VS Code settings
.vscode/
